<!DOCTYPE html>
<html>

<head>
    <title>View Needs Nearby</title>
    <link rel="stylesheet" href="css/slider.css" type="text/css" />
</head>

<body>
    <center>
        <div ng-app="myApp" ng-controller="DonationCtrl" ng-init="orderByField='time'">
            <div>
                <input type="radio" ng-model="criteria" value="City" ng-click="allneeds=false; found=''"> City Based
                <input type="radio" ng-model="criteria" value="Near Me" ng-click="allneeds=false; found=''"> Needs Near An Address
            </div>
            <div ng-switch="criteria">
                <div ng-switch-when="City">
                    <label for="citySelect">
                            <p/>Enter City: </label>
                    <br>
                    <input type="text" name="citySelect" ng-model="data.citySelect" />
                    <button type="button" class="btn btn-primary btn-md" ng-click="GetNeeds('city',data.citySelect,false); spinner = true;">Fetch Needs in {{data.citySelect}}</button>
                    <br>
                </div>
                <div ng-switch-when="Near Me">
                    <br>
                    <div id="slidecontainer">
                        <p>Select Distance: </p><input type="range" ng-model="data.distance" min="1" max="50" value="25" class="slider" id="myRange">
                        <p>{{'Within ' + data.distance + 'Km'}} Of Address</p>
                    </div>
                    <p>
                        <!--<button type="button" class="btn btn-primary btn-sm" ng-click="PopulateDefaultAddress();data.searchAddress=address">Use My Default Address</button>-->
                        <input type="text" name="myAddress" size="20" ng-model="data.searchAddress" placeholder="e.g. Park Street, Kolkata"></p>
                    <button type="button" class="btn btn-primary btn-md" ng-click="OrchestrateGetNearby(data,'needs'); spinner = true;">Fetch Needs</button>
                    <br>
                </div>
            </div>
            <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
            <center>
                {{found}}
                <br>
            </center>
            <p>
                <div class="container" ng-show="allneeds">
                    <label>Sort By:
                                    <select name="sort" ng-change="reverse = !reverse" ng-model="sortfield">
                                        <option value="postedby">Name</option>
                                        <option value="modified" selected>Date</option>
                                        <option value="itemtype">Item Type</option>
                                        <option value="address">Address</option>
                                    </select>
                                    <br>
                                </label> <span></span><i class="fa fa-sort-asc " ng-show="reverse " ng-click="reverse = !reverse;"> </i>
                    <i class="fa fa-sort-desc " ng-show="!reverse " ng-click="reverse = !reverse;"></i></span>


                    <label ng-show="allneeds">Search Places, Items etc in needs:
                                <input ng-model="searchText">
                            </label>
                    <br><b>{{result}}{{}}</b>
                    <table class="table table-responsive" id="needstable" id="searchResults2">
                        <tr ng-repeat="row in cityneeds | orderBy : sortfield : !reverse| filter:searchText">
                            <td><i class={{row.fa_icon}}></i>&nbsp;&nbsp;{{ TranslateEventToEnglish(row.itemtype); english }}<br> {{row.items}} {{ 'Required by ' + row.postedby}} at {{row.address}}; posted on {{row.modified | date:'medium'}}<br>
                                <a href=mailto:{{row.email}}><i class="fa fa-envelope"></i></a>
                                <span style="display:inline-block; width: 36px;"></span>
                                <a href=tel:{{row.phone_number}}><i class="fa fa-phone"></i></a>
                                <span style="display:inline-block; width: 36px;"></span>
                                <a href='' ng-click="ShowDirections(row.address)"><i class="fa fa-map-marker"></i></a>
                                <span ng-show="mobileDevice" style="display:inline-block; width: 36px;"></span>
                                <a href='' ng-show="mobileDevice" ng-click="SocialShare(row, 'FreeCycle New Needs Alert')"><i class="fa fa-share-square-o"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </p>

        </div>
    </center>
</body>

</html>