<!DOCTYPE html>
<html>

<head>
    <title>My Subscribed Events</title>
</head>

<body>
    <center>
        <div ng-app="myApp" ng-controller="DonationCtrl">
            <!--            <br>
            <center/><button type="button" class="btn btn-primary btn-md" ng-click="GetGroupsForUser(); spinner=true;">Fetch All My Subscriptions</button>
            <br> -->
            <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
            <center>

                <br>
            </center>
            <p>
                <br>
                <div class="container" ng-show="showmyevents">
                    <table class="table table-bordered" id="events">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="row in usergroups">
                            <td>{{row.name}}</td>
                            <td><button type="button" class="btn btn-primary btn-md" ng-click="DeleteGroupForUser(row.name); spinner = true;">Unsubscribe</button></td>
                        </tr>
                    </table>
                </div>

            </p>
        </div>
    </center>
</body>

</html>